/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

a{
    text-decoration:none;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.lnr-home{
    font-size:xx-large;
}
.lnr-home:hover {
    font-size: xx-large;
    
    padding-top:10%;
    font-weight:bolder;
}

#MenuText{
    text-align:center;
    text-decoration:solid;
    font-size:xx-large;
    color:azure;
}
#MenuText:hover {
    text-align: center;
    text-decoration: solid;
    font-size: xx-large;
    color: azure;
    font-weight:bold;
}
#MenuIcon {
    text-align: center;
    text-decoration: solid;
    color:azure;
}
